<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: LicenseRef-CCBG-Commercial -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>online.agi2030.ccbg.gatewayd</string>
  <key>ProgramArguments</key>
  <array>
    <string>__INSTALL_DIR__/bin/gatewayd</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__DATA_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CCBG_ADMIN_ASSET_PATH</key>
    <string>__INSTALL_DIR__/assets/admin/index.html</string>
    <key>CCBG_CONFIG_DIR</key>
    <string>__CONFIG_DIR__</string>
    <key>CCBG_DATA_DIR</key>
    <string>__DATA_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/gatewayd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/gatewayd.err.log</string>
</dict>
</plist>
