# SPDX-License-Identifier: LicenseRef-CCBG-Commercial
# Copyright (c) 2026 walky
PackageIdentifier: AGI2030.CarrierCloudBlobGateway
PackageVersion: "{{VERSION}}"
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.9.0
